<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>mrschemistry</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css" media="screen" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/media.css" />
<link rel="stylesheet" href="../css/fonts.css" />

<!-- You Custom Bootstrap Skin -->
<link rel="stylesheet" href="../libs/bootstrap_skin/bootstrap_skin.css" />

</head>

<body class="isnohome">

	<header class="main_head">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="../img/logо.png" alt="brand"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Головна<span class="sr-only">(current)</span></a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Новини <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Новини науки</a></li>
								<li class="divider"></li>
								<li><a href="#">Хімія навколо нас</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Хімія <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">7 клас</a></li>
								<li class="divider"></li>
								<li><a href="#">8 клас</a></li>
								<li class="divider"></li>
								<li><a href="#">9 клас</a></li>
								<li class="divider"></li>
								<li><a href="#">10 клас</a></li>
								<li class="divider"></li>
								<li><a href="#">11 клас</a></li>
							</ul>
						</li>

						<li><a href="#">Калькулятор</a></li>
						<li><a href="#">Політика конфіденційності</a></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>

	<section class="s_main">
		<div class="container">
			<div class="row">

				<div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
					<div class="content">
						<ul class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Новини науки</a></li>
							<li class="active">Нобелівський комітет назвав лауреатів премії з хімії</li>
						</ul>

						<h1>Нобелівський комітет назвав лауреатів премії з хімії</h1>

						<article>
							<div class="row">
								<div class="col-md-12">
									<img src="../img/art_image.png">
									<p>
										У середу, 9 жовтня, Нобелівський комітет повідомив, кому цього року дісталася Нобелівська премія з хімії.
									</p>
									<p>
										Найвищої наукової нагороди удостоєні Мартін Карплюс, Майкл Левітт і Ар'є Вархель
										"за розвиток моделей складних хімічних систем". Зазначимо, що цього року
										в гонці за премію з хімії не було очевидного фаворита. Згідно з правилами спеціального фонду,
										заснованого Альфредом Нобелем, імена кандидатів, які претендували на нагороду,
										будуть оприлюднені лише через 50 років. Сума кожної з Нобелівських премій цього
										року становить 926 тисяч євро.
									</p>
									<blockquote>За що вручили першу Нобелівську премію.</blockquote>
									<p>
										Нагадаємо, в минулому році за досягнення в галузі хімії
										Нобелівською премією були нагороджені Роберт Лефковіц і Браян Кобілка за вивчення роботи
										рецепторів живих клітин. Напередодні в Стокгольмі Нобелівської премії з фізики
										удостоїлися Пітер Хіггз і Франсуа Енглер, що передбачили в 60-ті роки існування бозона Хіггса
										- гіпотетичної частинки, що забезпечує масу всіх інших елементарних частинок.
										Провісники століття і космічні випадковості.
									</p>
									<p>
										Нобелівка з фізики дісталася вченим, які заявили про існування частинки Бога.
									</p>
									<p>
										Нобелівська премія з медицини дісталася Джеймсу Ротману, Ренді Шекману і Томасу Зюдофу
										"за відкриття механізму регуляції руху везикул, головної транспортної системи наших клітин".
									</p>
								</div>

							</div>

						</article>

						<div class="witget_news">
							<h4>новости в сфере химии</h4>
							<div class="row">
								<ul>
									<li class="col-md-4 wn_item">
										<div class="panel panel-default">
											<div class="panel-body">
												<p>
													Часто ми не купуємо ті або інші косметичні засоби лише тому,
													що нас лякають складні назви їхніх компонентів. Здається,
													що все невідоме обов'язково таїть у собі небезпека для здоров'я.
													Але це зовсім не так. Отже, презентація на тему: хімія в косметиці
													– це корисно кожній...
												</p>
												<a class="more" href="#">Читать далее ></a>
											</div>
										</div>
									</li>

									<li class="col-md-4 wn_item">
										<div class="panel panel-default">
											<div class="panel-body">
												<p>
													Часто ми не купуємо ті або інші косметичні засоби лише тому,
													що нас лякають складні назви їхніх компонентів. Здається,
													що все невідоме обов'язково таїть у собі небезпека для здоров'я.
													Але це зовсім не так. Отже, презентація на тему: хімія в косметиці
													– це корисно кожній...
												</p>
												<a class="more" href="#">Читать далее ></a>
											</div>
										</div>
									</li>

									<li class="col-md-4 wn_item">
										<div class="panel panel-default">
											<div class="panel-body">
												<p>
													Часто ми не купуємо ті або інші косметичні засоби лише тому,
													що нас лякають складні назви їхніх компонентів. Здається,
													що все невідоме обов'язково таїть у собі небезпека для здоров'я.
													Але це зовсім не так. Отже, презентація на тему: хімія в косметиці
													– це корисно кожній...
												</p>
												<a class="more" href="#">Читать далее ></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-4 col-sm-pull-8 col-lg-3 col-lg-pull-9">
					<aside class="left_side">
						<div class="box box_search">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control">
											<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
										</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<form class="box box_back">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<h4>Бланк заявки</h4>
									<button class="btn btn-warning">Отправить заявку</button>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
											<input type="text" class="form-control" placeholder="Ваше имя" required>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
											<input type="text" class="form-control" placeholder="Ваш телефон" required>
										</div>
									</div>
								</div>
							</div>
						</form>

						<div class="box box_menu">
							<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Категорії новин
												<span class="btn btn-default dropdown-toggle">
													<span class="caret"></span>
												</span>
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="list-group">
											<a href="#" class="list-group-item active">
												<span>Новини науки</span>
											</a>
											<a href="#" class="list-group-item">
												<span>Хімія навколо нас</span>
											</a>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Категорії уроків по класах
												<span class="btn btn-default dropdown-toggle">
													<span class="caret"></span>
												</span>
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="list-group">
											<a href="#" class="list-group-item">
												<span>7 клас</span>
											</a>
											<a href="#" class="list-group-item">
												<span>8 клас</span>
											</a>
											<a href="#" class="list-group-item">
												<span>9 клас</span>
											</a>
											<a href="#" class="list-group-item">
												<span>10 клас</span>
											</a>
											<a href="#" class="list-group-item">
												<span>11 клас</span>
											</a>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Collapsible Group Item #3
												<span class="btn btn-default dropdown-toggle">
													<span class="caret"></span>
												</span>
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
											3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
											Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
											Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
											raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="box box_articles">
							<div class="panel panel-default">
								<div class="panel-body">

									<h4>Интересные статьи</h4>

									<div id="asideCarousel" class="carousel slide carousel-fade aside_carousel" data-ride="carousel">
										<div class="carousel-inner" role="listbox">
											<div class="item active">
												<div class="aside_carousel_cont">
													<h4 class="lead">Хімія у косметиці</h4>
													<div class="aside_car_container">
														<p>
															Часто ми не купуємо ті або інші косметичні засоби лише тому,
															що нас лякають складні назви їхніх компонентів. Здається,
															що все невідоме обов'язково таїть у собі небезпека для здоров'я.
															Але це зовсім не так. Отже, презентація на тему:
															хімія в косметиці – це корисно кожній...
														</p>
													</div>
													<a href="#" class="more">Read more...</a>
												</div>
											</div>

											<div class="item">
												<div class="aside_carousel_cont">
													<h4 class="lead">У таблицю Менделєєва додали 4 нові хімічні елементи</h4>
													<div class="aside_car_container">
														<p>
															Тож можете викинути свій підручник з хімії, бо він застарів.
															Чотири надважкі хімічні елементи було винайдено вченими з Америки,
															Японії та Росії, пише The Guardian. Елементи з атомними...
														</p>
													</div>
													<a href="#" class="more">Read more...</a>
												</div>
											</div>
										</div>
										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li data-target="#asideCarousel" data-slide-to="0" class="active"></li>
											<li data-target="#asideCarousel" data-slide-to="1"></li>
										</ol>
										<div class="car_controls">
											<a class="left carousel-control" href="#asideCarousel" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="right carousel-control" href="#asideCarousel" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="box">
							<div class="well">
								<h4>Лицензия №</h4>
								<p>
									ГС-99-02-26-0-771563152-069914-1<br>
									Мы вступили в СРО 15.08.2011г.
								</p>
							</div>
						</div>

					</aside>
				</div>
			</div>

		</div>
	</section>

	<footer class="main_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-6">
					<div class="logo_wrap">
						<img src="../img/logot.png" alt="logo">
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-6">
					<strong>
						Европейськое качество<br> по стандартам UA
					</strong>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="lead footer_phone">
						+38(097)123-45-67<br>
						<a href="#" class="callback" data-toggle="modal" data-target="#myModal">заказать звонок</a>
					</div>
				</div>

				<div class="col-md-2 col-sm-6 col-xs-6">
					<a href="#" class="develop">
						<small>разработка сайтов</small>
						<img src="../img/logo_cwebs.png" alt="разработка сайтов">
					</a>
				</div>
			</div>
		</div>
	</footer>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">

			<form class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Заказать звонок</h4>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label class="control-label" for="inputDefault1">Ваше имя</label>
						<input type="text" class="form-control" id="inputDefault1">
					</div>
					<div class="form-group">
						<label class="control-label" for="inputDefault2">Ваш телефон</label>
						<input type="text" class="form-control" id="inputDefault2">
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-warning">Заказать</button>
				</div>
			</form><!-- /.modal-content -->

		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->






	<!--[if lt IE 9]>
	<script src="../bootstrap-elements/assets/libs/html5shiv/html5shiv.min.js"></script>
	<script src="../bootstrap-elements/assets/libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="../https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script src="../libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/common.js"></script>

</body>
</html>
